<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Gpib Imanuel Cimahi</title>
  <meta content="" name="Gereja Protestan di Indonesia bagian Barat jemaat Imanuel Cimahi">
  <meta content="" name="gpibimanuelimahi">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon-32x32.png' %}" sizes="32x32" rel="icon">
  <link href="{% static 'assets/img/favicon-16x16.png' %}" sizes="16x16" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" sizes="180x180" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
</head>

<body>
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-lg-between">
        <nav id="navbar" class="navbar order-last order-lg-0">
          <ul>
            <li><a class="nav-link scrollto active" href="/">Halaman Utama</a></li>
            
            <li><a class="nav-link scrollto" href="#services">Warta</a></li>
            <li><a class="nav-link scrollto " href="#portfolio">Galeri</a></li>
            <li><a class="nav-link scrollto" href="#team">PHMJ</a></li>
            <li class="dropdown"><a href="#"><span>Sektor</span> <i class="bi bi-chevron-down"></i></a>
              <ul>
                <li><a href="#">Sektor Kanaan</a></li>
                <li><a href="#">Sektor Bethel</a></li>
                <li><a href="#">Sektor Bethesda</a></li>
                <li><a href="#">Sektor Betlehem</a></li>
                <li><a href="#">Sektor Eden</a></li>
                <li><a href="#">Sektor Efrata</a></li>
                <li><a href="#">Sektor Filadelfia</a></li>
                <li><a href="#">Sektor Galilea</a></li>
                <li><a href="#">Sektor Getsemani</a></li>
                <li><a href="#">Sektor Gibeon</a></li>
                <li><a href="#">Sektor Tiberias</a></li>
              </ul>
            </li>
            <li class="dropdown"><a href="#"><span>Unit Misioner</span> <i class="bi bi-chevron-down"></i></a>
              <ul>
                <li class="dropdown"><a href="#"><span>Pelayanan Kategorial</span> <i class="bi bi-chevron-right"></i></a>
                  <ul>
                    <li><a href="#">Persekutuan Kaum Bapak (PKB)</a></li>
                    <li><a href="#">Persekutuan Kaum Perempuan (PKP)</a></li>
                    <li><a href="#">Gerakan Pemuda (GP)</a></li>
                    <li><a href="#">Persekutuan Teruna (PT)</a></li>
                    <li><a href="#">Pelayanan Anak (PA)</a></li>
                    <li><a href="#">Persekutuan Kaum Lanjut Usia (PKLU)</a></li>
                  </ul>
                </li>
                <li><a href="#">Komisi TEOLOGI</a></li>
                <li><a href="#">Komisi PELKES-KEDUKAAN</a></li>
                <li><a href="#">Komisi GERMASA</a></li>
                <li><a href="#">Komisi PEG-HARWAT</a></li>
                <li><a href="#">Komisi PPSDI-PPK</a></li>
                <li><a href="#">Komisi MUGER</a></li>
                <li><a href="#">Komisi INFORKOM-LITBANG</a></li>
              </ul>
            </li>
            <li class="dropdown"><a href="#"><span>Direktori</span> <i class="bi bi-chevron-down"></i></a>
              <ul>
                <li><a href="#">Kabar Baik Hari Ini</a></li>
                <li><a href="#">Pos Pelayanan Padalarang</a></li>
                <li><a href="#">Visi & Misi</a></li>
                <li><a href="#">Sejarah Gereja</a></li>
                <li><a href="#">Pendeta Dari Masa ke Masa</a></li>
                <li><a href="#">Daftar PHMJ per Periode</a></li>
                <li><a href="#">Karyawan</a></li>
                <li class="dropdown"><a href="#"><span>Formulir</span> <i class="bi bi-chevron-down"></i></a>
                  <ul>
                    <li><a href="#">Formulir Atestasi</a></li>
                    <li><a href="#">Formulir Baptisan</a></li>
                    <li><a href="#">Formulir Pernikahan</a></li>
                    <li><a href="#">Formulir Katekisasi </a></li>
                    <li><a href="#">Formulir Diakonia</a></li>
                    <li><a href="#">Formulir Kedukaan</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li><a class="nav-link scrollto" href="#contact">Kontak</a></li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
    </div>
  </header><!-- End Header -->
      
  {% block detil %}{% endblock detil %}
  {% block department_detail %}{% endblock department_detail %}
  {% block warta_detil %}{% endblock warta_detil %}
  {% block service_detail %}{% endblock service_detail %}
      
  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>Gpib Imanuel Cimahi<span>.</span></h3>
              <p>
                <strong>Jadwal Ibadah Minggu</strong><br>
                <strong>Gedung Gereja Imanuel Cimahi</strong><br>
                Ibadah Pertama&nbsp;: 06.00 WIB<br>
                Ibadah Kedua&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: 09.00 WIB<br>
                Ibadah Ketiga&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: 17.00 WIB<br><br>
                <strong>Pos Pelayanan Anugerah Padalarang</strong><br>
                Ibadah Minggu&nbsp;: 09.00 WIB<br>
              </p>
              <div class="social-links mt-3">
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="tiktok"><i class="bx bxl-tiktok"></i></a>
                <a href="#" class="youtube"><i class="bx bxl-youtube"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Kabar Baik Hari Ini</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Pos Pelayanan Padalarang</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Warta Jemaat</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Pelayanan Kategorial</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Persekutuan Kaum Bapak</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Persekutuan Kaum Perempuan</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Gerakan Pemuda</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Persekutuan Teruna</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Pelayanan Anak</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Persekutuan Kaum Lanjut Usia</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Newsletter</h4>
            <p>Kami juga menyediakan sumber daya untuk membantu Anda menjalani hidup yang sesuai dengan ajaran Tuhan dan memperdalam hubungan pribadi dengan-Nya.</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Gpib Imanuel Cimahi</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="#">megagenius</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>