{% extends 'base.html' %}

{% block phmj %}

    <section id="team" class="team">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Periode {{ periodes }}</h2>
                <p>Pengurus Harian Majelis Jemaat</p>
            </div>

            <div class="row">
                {% for anggota in anggotas %}
                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                        <div class="member" data-aos="fade-up" data-aos-delay="100">
                            <div class="member-img">
                                <img src= "{{ anggota.foto.url }}" class="img-fluid" alt="">
                            </div>
                            <div class="member-info">
                                <h4>{{ anggota.nama }}</h4>
                                {{ anggota.jabatan }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>    
        </div>  
    </section>

{% endblock phmj %} 

    
