{% extends 'base.html' %}

{% block department_detail %}
  <h1>{{ department.name }}</h1>
  <p>{{ department.description }}</p>
  <img src="{{ department.banner.url }}" alt="{{ department.name }} Banner">

  <h2>Pengurus</h2>
  <ul>
    {% for member in members %}
      <li>
        {{ member.position }} : {{ member.name }} 
        {% if member.photo %}
          <img src="{{ member.photo.url }}" alt="{{ member.name }} Photo">
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endblock %}

