{% extends 'base.html' %}

{% block content_list %}
  <h1>Departments</h1>
  <ul>
    {% for department in departments %}
      <li><a href="{% url 'unit_misioner:department-detail' department.slug %}">{{ department.name }}</a></li>
    {% endfor %}
  </ul>
{% endblock %}
