{% extends 'base.html' %}


{% block photogallery %}

<section id="portfolio" class="portfolio"
    x-data="{tag: 'Semua', photos: []}"
    x-init="photos = await (await fetch('photogallerylist')).json()">
   
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Kegiatan Pelayanan</h2>
            <p>Galeri Foto</p>
        </div>
      
        <div class="row" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-12 d-flex justify-content-center">
                <ul>
                    <button type="button" @click="tag = $el.textContent">Semua</button>
                    {% for tag in tags %}
                        <button type="button" @click="tag = $el.textContent">{{ tag.name }}</button>
                    {% endfor %}       
                </ul>
                
            </div>
        </div>

        <div> 
            <template x-for="photo in photos.filter(f => tag ==='Semua' || f.tags.includes(tag))">
                <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200"> 
                    
                        <div class="col-lg-4 col-md-6 portfolio-item">
                            <h5 x-text="photo.title"></h5>
                            <div class="portfolio-wrap">
                                <img :src="photo.image" class="img-fluid" alt="">
                                <div class="portfolio-info">    
                                        <h4 x-text="photo.caption"></h4>
                                        <p x-text="photo.tags.join(', ')"></p>
                                </div>
                            </div>
                        <div>    
                    
                </div>
            </template>    
        </div>

    </div>
</section>

{% endblock photogallery %}