{% extends 'base.html' %}

{% block event %}
    <!-- start Event -->
        <section id="event" class="event">
            <div class="container" data-aos="fade-up">
            <div class="row gy-4 mt-5justify-content-center" data-aos="zoom-in" data-aos-delay="250">
                <div class="row">
                    {% for event in events %}
                        <div class="col-md-4">
                            <div class="card mb-2">
                                <img class="card-img-top" src="{{ event.profile_image.url }}">
                                <div class="card-body">
                                    <h5 class="card-title">{{ event.name }}</h5>
                                    <a href="{% url 'event-detail' event.pk %}"
                                    class="btn btn-primary">
                                        Baca
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            </div>
        </section>
    <!-- End Event -->
{% endblock event %}

 