{% extends "inner_page.html" %}
{% load static %}


{% block detil %}
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">   
            <h1>{{event.name}}</h1>
                <div class="row">
                    <div class="col">
                        <img src="{{ event.profile_image.url }}" alt="" width="100%">
                    </div>
                    <div class="w-55"></div>
                    <div class="col">
                        <h5>Tentang :</h5>
                        <p>{{ event.description }}</p>
                        <br>
                    </div>
                </div>
            </div>
    </section>
{% endblock detil%}
