{% extends 'base.html' %}

{% block service_list %}
<section id="portfolio" class="portfolio"
    x-data="{tag: 'Semua', photos: []}"
    x-init="photos = await (await fetch('photogallerylist')).json()">
   
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>List Pelayanan Ibadah Hari Minggu </h2>
            <p>Informasi Jadwal Pelayanan</p>
        </div>
      
        <ul>
            {% for service in services %}
                <li>
                    <a href="{% url 'jadwal_pelayanan:service-details' service.id %}">
                        {{ service.datetime }} - {{ service.place }} - {{ service.dresscode }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</section>
{% endblock service_list %}