{% extends 'inner_page.html' %}

{% block service_detail %}
<section id="portfolio" class="portfolio"
    x-data="{tag: 'Semua', photos: []}"
    x-init="photos = await (await fetch('photogallerylist')).json()">
   
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>List Petugas Pelayan Hari Minggu</h2>
            <p>Informasi Jadwal Pelayanan</p>
        </div>
        <div class="container mt-5"></div>
            {% if service %}
                <p><strong>Tanggal dan Jam:</strong> {{ service.datetime }}</p>
                <p><strong>Dress Code:</strong> {{ service.dresscode }}</p>
                <p><strong>Tempat:</strong> {{ service.place }}</p>
                
                <h2>Role Details</h2>
                <table>
                    <tr>
                        <th>Role</th>
                        <th>Person</th>
                    </tr>
                    {% for service_role in service.servicerole_set.all %}
                    <tr>
                        <td>{{ service_role.role.title }}</td>
                        <td>{{ service_role.person.name }}</td>
                    </tr>
                {% endfor %}
                </table>
                {% else %}
                <p>Service not found.</p>
            {% endif %}
        </div>      
    </div>
</section>        
{% endblock service_detail %}