{% extends 'base.html' %}
{% load static %}

{% block cover %}
  <!-- ======= Halaman Utama Section ======= -->
  <section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

      <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
        <div class="col-xl-6 col-lg-8">
          <a href="index.html" class="logo me-auto me-lg-0"><img src="{% static 'assets/img/logogpib.png' %}" alt="" class="img-fluid" ></a>
          <h1>GPIB IMANUEL CIMAHI<span>.</span></h1>
          <h2>“Dan orang akan datang dari timur dan barat dan dari utara dan selatan dan mereka duduk makan di dalam Kerajaan Allah”</h2>
        </div>
      </div>
    </div>
  </section><!-- End Halaman Utama -->
{% endblock cover %}

{% block event %}
  <!-- start Event -->
    <section id="event" class="event">
      <div class="container" data-aos="fade-up">
      <div class="row gy-4 mt-5justify-content-center" data-aos="zoom-in" data-aos-delay="250">
          <div class="row">
              {% for event in events %}
                  <div class="col-md-4">
                      <div class="card mb-2">
                          <img class="card-img-top" src="{{ event.profile_image.url }}">
                          <div class="card-body">
                              <h5 class="card-title">{{ event.name }}</h5>
                              <a href="{% url 'event-detail' event.pk %}"
                              class="btn btn-primary">
                                  Baca
                              </a>
                          </div>
                      </div>
                  </div>
              {% endfor %}
          </div>
      </div>
      </div>
  </section>
  <!-- End Event -->
{% endblock event %}     

{% block main %}
  <main id="main">

    <!-- ======= VISI ======= -->
    <section id="cta" class="cta">
      <div class="container" data-aos="zoom-in">
        <div class="text-center">
          <h2>VISI</h2><br>
              <h3>GPIB menjadi gereja yang mewujudkan damai sejahtera bagi seluruh ciptaanNya</h3>
        </div>
      </div>
    </section>
    <!-- End VISI -->

    <!-- ======= Tentang Kami Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="{% static 'assets/img/tentangkami.jpg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
            <h3>Selamat datang di website <br>Gereja Protestan di Indonesia bagian Barat jemaat Imanuel Cimahi!</h3> 
            <h4>Kami dengan sukacita menyambut kedatangan Anda di sini.</h4>
            <p class="fst-italic"><br>
              Website ini dirancang untuk menjadi sumber informasi, inspirasi, dan bimbingan rohani bagi semua yang mencari kebenaran dan kehidupan yang bermakna melalui iman.
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> Kami berharap bahwa melalui website ini, Anda akan menemukan berbagai informasi mengenai jadwal ibadah, pelajaran Alkitab, pelayanan dan kegiatan gereja, serta cara untuk terlibat dalam komunitas kami.</li>
              <li><i class="ri-check-double-line"></i> Jangan ragu untuk menjelajahi halaman-halaman website kami, membaca pesan-pesan khotbah, dan menghubungi kami jika Anda memiliki pertanyaan atau membutuhkan bantuan.</li>
            </ul>
            <p>
              Tuhan memberkati Anda dalam setiap langkah hidup Anda, dan semoga website ini menjadi berkat bagi Anda. Terima kasih atas kunjungan Anda, dan selamat menjelajahi website gereja kami!
            </p>
          </div>
        </div>

      </div>
    </section><!-- Tentang Kami Section -->

    <!-- ======= MISI 1======= -->
    <section id="cta" class="cta">
      <div class="container" data-aos="zoom-in">
        <div class="text-center">
          <h2>MISI</h2><br>
              <h3>Menjadi Gereja yang terus menerus diperbaharui dengan bertolak dari Firman Allah, yang terwujud dalam perilaku kehidupan warga gereja, baik dalam persekutuan, maupun dalam hidup bermasyarakat.</h3>
        </div>
      </div>
    </section>
    <!-- End MISI -->

    <!-- ======= Logo Pelkat Section ======= -->
    <section id="clients" class="clients">
      <div class="container" data-aos="zoom-in">

        <div class="clients-slider swiper">
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide"><img src="{% static 'assets/img/clients/PKB_GPIB.png' %}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'assets/img/clients/PKP_GPIB.png' %}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'assets/img/clients/Logo_Pelkat_GP_GPIB.png' %}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'assets/img/clients/Logo_Pelkat_PT_GPIB.png' %}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'assets/img/clients/Logo_PA_GPIB.png' %}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{% static 'assets/img/clients/PELKAT_PKLU_GPIB.png' %}" class="img-fluid" alt=""></div>
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Logo Pelkat Section -->


    <!-- ======= Pelkat Detil Section ======= -->
    <section id="features" class="features">
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="image col-lg-6" style="background-image: url('{% static 'assets/img/fotopelkat.jpg' %}')" data-aos="fade-right"></div>
            <div class="col-lg-6" data-aos="fade-left" data-aos-delay="100">
              <div class="icon-box mt-5 mt-lg-0" data-aos="zoom-in" data-aos-delay="150">
                <h2>Unit Misioner</h2>
                </div>  
                  {% for department in departments %}
                    <div class="icon-box mt-5 mt-lg-0" data-aos="zoom-in" data-aos-delay="150">
                      <li><a href="{% url 'unit_misioner:department-detail' department.slug %}">{{ department.name }}</a></li>
                    </div>  
                  {% endfor %}
                </div>
              </div>
            </div>
        </div>    
      </div>
    </section><!-- End Pelkat Detil Section -->


    <!-- ======= MISI 2======= -->
    <section id="cta" class="cta">
      <div class="container" data-aos="zoom-in">
        <div class="text-center">
          <h2>MISI</h2><br>
              <h3>Menjadi gereja yang hadir sebagai contoh kehidupan, yang terwujud melalui inisiatif dan partisipasi dalam kesetiakawanan sosial serta kerukunan dalam masyarakat, dengan berbasis pada perilaku kehidupan keluarga yang kuat dan sejahtera.</h3>
        </div>
      </div>
    </section>
    <!-- End MISI -->
    

    <!-- ======= Warta Jemaat Section ======= -->
    <section id="services" class="services">
      <div class="container" data-aos="fade-up">
          <div class="row gy-4 mt-5justify-content-center" data-aos="zoom-in" data-aos-delay="250">
              <div class="section-title">
                      <h2>Warta</h2>
                      <p>Warta Jemaat Minggu Ini</p>
                     
              </div>
          </div>    
      </div>
  </section>
  <!-- End Warta Jemaat Section -->

    <!-- ======= Jadwal Ibadah Section ======= -->
    <section id="cta" class="cta">
      <div class="container" data-aos="zoom-in">

        <div class="text-center">
          <h2>Jadwal Ibadah Minggu</h2><br>
            
              <h3>Gedung Gereja Imanuel Cimahi</h3>
              <p>Ibadah Pertama&nbsp;: 06.00 WIB</p>
              <p>Ibadah Kedua&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: 09.00 WIB</p>
              <p>Ibadah Ketiga&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: 17.00 WIB</p>
            
              <h3>Pos Pelayanan Anugerah Padalarang</h3>
              <p>Ibadah Minggu&nbsp;: 09.00 WIB</P>
              <br>
              <a class="cta-btn" href="#">Hubungi Kami</a>
        </div>

      </div>
    </section><!-- End Jadwal Ibadah Section -->

    <!-- ======= Galeri Section ======= -->
    <section id="portfolio" class="portfolio"
    x-data="{tag: 'Semua', photos: []}"
    x-init="photos = await (await fetch('/photo-gallery/photogallerylist')).json()">
   
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Kegiatan Pelayanan</h2>
            <p>Galeri Foto</p>
        </div>
      
        <div class="row" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-12 d-flex justify-content-center">
                <ul>
                    <button type="button" @click="tag = $el.textContent">Semua</button>
                    {% for tag in tags %}
                        <button type="button" @click="tag = $el.textContent">{{ tag.name }}</button>
                    {% endfor %}       
                </ul>
                
            </div>
        </div>

        <div> 
            <template x-for="photo in photos.filter(f => tag ==='Semua' || f.tags.includes(tag))">
                <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200"> 
                    
                        <div class="col-lg-4 col-md-6 portfolio-item">
                            <h5 x-text="photo.title"></h5>
                            <div class="portfolio-wrap">
                                <img :src="photo.image" class="img-fluid" alt="">
                                <div class="portfolio-info">    
                                        <h4 x-text="photo.caption"></h4>
                                        <p x-text="photo.tags.join(', ')"></p>
                                </div>
                            </div>
                        <div>    
                    
                </div>
            </template>    
        </div>

    </div>
</section>
    <!-- End Galeri Section -->

    <!-- ======= MISI 3======= -->
    <section id="cta" class="cta">
      <div class="container" data-aos="zoom-in">
        <div class="text-center">
          <h2>MISI</h2><br>
              <h3>Menjadi Gereja yang membangun keutuhan ciptaan yang terwujud melalui perhatian terhadap lingkungan hidup, semangat keesaan dan semangat persatuan dan kesatuan warga Gereja sebagai warga masyarakat.</h3>
        </div>
      </div>
    </section>
    <!-- End MISI -->

    <!-- ======= Statistic Section ======= -->
    <section id="counts" class="counts">
      <div class="container" data-aos="fade-up">

        <div class="row no-gutters">
          <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start" data-aos="fade-right" data-aos-delay="100"></div>
          <div class="col-xl-7 ps-4 ps-lg-5 pe-4 pe-lg-1 d-flex align-items-stretch" data-aos="fade-left" data-aos-delay="100">
            <div class="content d-flex flex-column justify-content-center">
              <h3>Statistik Gereja</h3>
              <p>
                Statistik jemaat GPIB Imanuel Cimahi
              </p>
              <div class="row">
                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="bi bi-emoji-smile"></i>
                    <span data-purecounter-start="0" data-purecounter-end="10576" data-purecounter-duration="2" class="purecounter"></span>
                    <p><strong>Jumlah warga jemaat</strong> </p>
                  </div>
                </div>

                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="bi bi-journal-richtext"></i>
                    <span data-purecounter-start="0" data-purecounter-end="5786" data-purecounter-duration="2" class="purecounter"></span>
                    <p><strong>Jumlah warga jemaat pria</strong> </p>
                  </div>
                </div>

                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="bi bi-clock"></i>
                    <span data-purecounter-start="0" data-purecounter-end="4708" data-purecounter-duration="4" class="purecounter"></span>
                    <p><strong>Jumlah warga jemaat wanita</strong> </p>
                  </div>
                </div>

                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="bi bi-award"></i>
                    <span data-purecounter-start="0" data-purecounter-end="5774" data-purecounter-duration="4" class="purecounter"></span>
                    <p><strong>Jumlah keluarga</strong> </p>
                  </div>
                </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>
      </div>
    </section><!-- End Statistik Section -->

    <!-- ======= Quotes Firman Tuhan Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container" data-aos="zoom-in">

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Karena Aku ini tahu rancangan-rancangan apa yang ada pada-Ku mengenai kamu, demikianlah firman TUHAN, yaitu rancangan damai sejahtera dan bukan rancangan kecelakaan, untuk memberikan kepadamu hari depan yang penuh harapan.<br> Yeremia 29:11
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Aku bangun pagi-pagi dan berteriak minta tolong; aku menaruh pengharapanku pada firman-Mu.<br> Mazmur 119:147
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Tetapi mereka yang menanti-nantikan TUHAN mendapat kekuatan baru: mereka seumpama rajawali yang naik dengan sekuat tenaga; mereka berlari dan tidak menjadi lesu, mereka berjalan dan tidak menjadi letih.<br> Yesaya 40:31
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Aku mengangkat mataku ke gunung-gunung: dari manakah datang pertolonganku? Pertolonganku datang dari TUHAN, yang menjadikan langit dan bumi.<br> Mazmur 121:1-2
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Tetapi sesuai dengan pengharapan kita sendiri, kami menantikan langit yang baru dan bumi yang baru, tempat kebenaran diam.<br> 2 Petrus 3:13
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Marilah kita teguh memegang pengakuan harapan kita, sebab Dia yang menjanjikan itu setia.<br> Ibrani 10:23
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->  

            <div class="swiper-slide">
              <div class="testimonial-item">
                
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Biarlah terangmu bersinar di depan orang, supaya mereka melihat perbuatanmu yang baik dan memuliakan Bapamu yang di sorga.<br> Matius 5:16
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Dan janganlah kamu berdukacita, sebab sukacita TUHAN adalah kekuatanmu.<br> Nehemia 8:10
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Biarlah kuasa pengharapan menggenapi kamu dengan seluruh sukacita dan damai sejahtera dalam iman, supaya kamu bertambah-tambah dalam pengharapan oleh kuasa Roh Kudus.<br> Roma 15:13
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Maka sekarang tetaplah tinggal ketiga: iman, pengharapan dan kasih, dan yang paling besar di antaranya ialah kasih.<br> 1 Korintus 13:13
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Quotes Firman Tuhan Section -->

    <!-- ======= PHMJ Section ======= -->
    <section id="team" class="team">
      <div class="container" data-aos="fade-up">

          <div class="section-title">
              <h2>Periode {{ periodes }}</h2>
              <p>Pengurus Harian Majelis Jemaat</p>
          </div>

          <div class="row">
              {% for anggota in anggotas %}
                  <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                      <div class="member" data-aos="fade-up" data-aos-delay="100">
                          <div class="member-img">
                              <img src= "{{ anggota.foto.url }}" class="img-fluid" alt="">
                          </div>
                          <div class="member-info">
                              <h4>{{ anggota.nama }}</h4>
                              {{ anggota.jabatan }}
                          </div>
                      </div>
                  </div>
              {% endfor %}
          </div>    
      </div>  
  </section>
    <!-- End PHMJ Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Hubungi Kami</h2>
          <p>Kontak</p>
        </div>

        <div>
          <iframe style="border:0; width: 100%; height: 270px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3961.011338952317!2d107.53901827491093!3d-6.8892444931098185!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e68e44d29f1ce1d%3A0x2a2a5f0571fb4544!2sGpib%20Imanuel%20Cimahi%2C%20Jl.%20Pasir%20Kumeli%20No.149%20A%2C%20Baros%2C%20Kec.%20Cimahi%20Tengah%2C%20Kota%20Cimahi%2C%20Jawa%20Barat%2040521!5e0!3m2!1sen!2sid!4v1685934313894!5m2!1sen!2sid" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" frameborder="0" allowfullscreen></iframe>
        </div>

        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Lokasi:</h4>
                <p>Jl. Pasir Kumeli No.149 A, Baros, Kec. Cimahi Tengah, Kota Cimahi, Jawa Barat 40521</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>hubungikami@gpibimanuelcimahi.org</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>WhatsApp:</h4>
                <p>081222208310</p>
              </div>


              <div class="phone">
                <i class="bi bi-telephone"></i>
                <h4>Telepon:</h4>
                <p>(022) 6659144</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Nama Anda" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Email Anda" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Judul" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Pesan" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Pesan Anda sudah terkirim. Terima kasih!</div>
              </div>
              <div class="text-center"><button type="submit">Kirim Pesan</button></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

{% endblock main %}